<form id="device_form" method="POST">
    <input type="hidden" id="device_id" name="device_id" value=#{device._id}>
    <div class="row col s12">
        <div class="input-field">
            <i class="material-icons prefix">person</i>
            <select name="patient">
                if device.patient
                    <option value=#{device.patient._id} selected>#{device.patient.name}</option>
                else
                    <option value="null" disabled selected>Asignar paciente</option>
                each patient in patients
                    <option value=#{patient._id}>#{patient.name}</option>
            </select>
            <label>Paciente</label>
        </div>
    </div>
    <div class="row col s12">
        <div class="input-field">
            <i class="material-icons prefix">description</i>
            <select name="exercise">
                <option value="null" disabled selected>Seleccionar ejercicio</option>
                each exercise in exercises
                    <option value=#{exercise._id}>#{exercise.name}</option>
            </select>
            <label>Ejercicio</label>
        </div>
    </div>
    <div class="row col s12">
        <div class="input-field">
            <i class="material-icons prefix">create</i>
            <select name="profile">
                <option value="null" disabled selected>Seleccionar dificultad</option>
                <option value="easy">Fácil</option>
                <option value="medium">Medio</option>
                <option value="hard">Dificil</option>
            </select>
            <label>Dificultad</label>
        </div>
    </div>
    <div class="row">
        <div class="col s12 center-align">
            <button class="btn" type="submit">Lanzar ejercicio<i class="material-icons right">send</i></button>
        </div>
    </div>
</form>
<script src="/js/materialize_init_selects.js"></script>