extends layout.pug

block content
    <div class="container">
        each device in devices
            <div class="row">
            <div class="col s8">
                <h3>Conexión: #{device.id}</h3>
                <h5>Motor gráfico: #{device.engine}</h5>
                <h5>Fabricante: #{device.manufacturer}</h5>
                <h5>Dispositivo: #{device.device}</h5>
                <h5>Cuenta asociada: #{device.account}</h5>
                <h5>Resultados: #{device.results}</h5>
                <form id="exercise_form" action="" method="POST">
                    <input type="text" name="exercise"/>
                    <button class="btn waves-effect waves-light" type="submit" name="action">Cargar ejercicio
                    <i class="material-icons right">send</i>
                    </button>
                </form>
            </div>
            </div>
        </div>