extends dashboard.pug

block dashboard-content
    <div id="results-card" class="card">
        <div class="results-card-content">
            <div class="card-title center">Resultados</div>
            <div class="container">
                <ul id="results-collapsible" class="collapsible popout">
                each patient in patients
                    <li>
                        <div class="collapsible-header"><i class="material-icons">person</i>#{patient.name}</div>
                        <div class="collapsible-body">
                            <ul class="collection">
                            if patient.results
                                each result in patient.results
                                    <li class="collection-item">#{result.exercise} - #{result.profile} - #{result.date.toISOString()}<a href="#!" class="secondary-content"><i class="material-icons">receipt</i></a></li>
                                    <table>
                                        <thead>
                                            <tr>
                                                <th>Parameter</th>
                                                <th>Value</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        each value, parameter in result.values
                                            <tr>
                                                <td>#{parameter}</td>
                                                <td>#{value}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <script src="/js/materialize_init_collapsibles.js"></script>