mixin exercise(exercise)
    <div class="card hoverable">
        <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src=#{exercise.img}>
        </div>
        <div class="card-content">
            <span class="card-title center">#{exercise.name}</span>
        </div>
        <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">Descripción<i class="material-icons right">close</i></span>
            <p>#{exercise.description}</p>
            <span class="card-title grey-text text-darken-4">Parámetros</span>
            <ul class="collection">
            each param in exercise.parameters
                <li class="collection-item"><b>#{param.name}</b>: #{param.description}</li>
            </ul>
        </div>
    </div>